body{
    font-size: 20px;
}

#container{
    margin : 20px auto;
    background-color: rgb(216, 170, 202);
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
}
#start{
    font-size: 1.5em;
    font-weight: bolder;
    width:100px;
    height:150px;
    border : 2px solid rgb(15, 14, 14);
    text-align: center;
    cursor: pointer;
    color : lightgrey;
}
#start:hover{
    border: 3px solid rgb(158, 129, 145);
    color : rgb(85, 39, 79);
}


#question{
    width:500px;
    height : 125px;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#choices{
    width : 480px;
    padding : 10px
}
.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
}

#timer{
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}
#counter{
    font-size: 3em;
}
#progress{
    width : 500px;
    padding:5px;
    text-align: right;
}
#scoreContainer{
    margin : 20px auto;
    background-color: white;
    opacity: 0.8;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
   
}

